.card-list {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: stretch;
}

.card-list li {
    margin: 0;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 0;
    border-bottom: 0.0625rem solid var(--light-text);
}



.card-wrapper img {
    width: 100%;
    max-width: 20rem;
    height: auto;
    aspect-ratio: 3/2;
}

.card-title{
    font-size: 1.5rem;
    line-height: 1.5;
}



.card-wrapper:hover{
    /* background-color: var(--background-dark); */
    cursor: pointer;
}

a.card-title:focus-visible{
    text-decoration: underline;
    outline-color: transparent;
}

h2.card-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card-wrapper:focus-within{
    outline: var(--focus-indicator);
    outline-offset : var(--focus-indicator-offset);
}

.card-wrapper:hover a.card-title{
    text-decoration: none;
    background-color: var(--yellow);
}


/* UX cases */

img.case-card-thumbnail {
    width: 100%;
    max-width: 16rem;
    aspect-ratio: 2 / 1;
    object-fit:cover;
}

img.client-logo {
    width: 100%;
    max-width: 8rem;
    height: auto;
    margin: 0;
    padding: 1rem;
    object-fit: contain;
}


.external-link-icon {
    font-size: 1.5em;
    line-height: 0;
}

@media (max-width: 600px) {
    .card-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .card-wrapper img:not(.client-logo) {
        max-width: 100%;
    }

    .card-wrapper img.client-logo {
        margin-bottom: 1rem;
    }
}
