* {
  --text: #262626;
  --light-text: #9f9f9f;
  --background: #fcfcfc;
  --background-dark: #ededea;
  --blue: #0062be;
  --light-blue: #deecf9;
  --yellow: #fff0c1;

  --focus-indicator: var(--blue) solid 0.25rem;
  --focus-indicator-offset: 0.25rem;
  --page-width: 50rem;
  --content-width: 40rem;
}

@media (prefers-color-scheme: dark) {
  * {
    --text: #d7d7d5;
    --light-text: #9f9f9f;
    --background: #292828;
    --background-dark: #191919;
    --blue: #b5dafd;
    --light-blue: #103354;
    --yellow: #4a3c17;

  }

  img {
    filter: brightness(0.8);
  }

  .client-logo {
    background-color: white;
  }
}

html {
  background-color: var(--blue);
}

.background {
  background-color: var(--background);
}


body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  color: var(--text);
  margin: 0.25rem auto;
  line-height: 1.5;

}


main {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1rem;


}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

hr {
  border: none;
  border-top: 0.0625rem solid var(--light-text);
  margin: 2rem 0;
}


code {
  font-family: monospace;
  font-size: 0.875rem;
  background-color: var(--background);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  outline: transparent;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  padding-top: 0.5rem;
  line-height: 1.5;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

}

ul {
  list-style: disc;
  margin-bottom: 1.5rem;
}

li {
  margin-bottom: 1rem;
}

p {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  max-width: var(--content-width);
}


section {
  margin: 2rem 0;
}

a {
  color: var(--blue);
  text-decoration: underline;
  line-height: 1.5;
}

a:hover {
  text-decoration: none;
  background-color: var(--yellow);
}

a:focus-visible {
  outline: var(--focus-indicator);
  outline-offset: var(--focus-indicator-offset);
}

.client-logo {
  width: 100%;
  max-width: 10rem;
  margin: 0.5rem auto;
  padding: 0.5rem;

}


#about {
  background-color: var(--light-blue);
  padding: 1.5rem 2rem;
  max-width: var(--content-width);
  margin: 3rem 0;
}

#about img {
  width: 100%;
  max-width: 12rem;
  border-radius: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}